*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgb(52, 116, 141);
}


header{
    text-align: center;
     margin: 70px;
   
}
form{position: relative;
    text-align: center;
    z-index: 1;
}

.dato{
    text-align: center;
    width: 400px;
    height: 30px;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
#boton{
    
    font-size: 20px;
    letter-spacing: 5px;
    font-family: 'Koulen', cursive;
    background-color: aqua;
    font-weight:bolder;
    width: 400px;
    height: 40px;
}
#icono{
    color: blue;
    font-size: 20px;
    background-color: aqua;
    font-weight:bolder;
}
label{
    font-weight: bold;
}

